<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DoAnQLBV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DoAnQLBV.Properties.Settings.QuanLyBenhVienDoAnCuoiKiConnectionString"
            connectionString="Data Source=MINHKHOA\TIN;Initial Catalog=QuanLyBenhVienDoAnCuoiKi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DoAnQLBV.Properties.Settings.QuanLyBenhVienDoAnCuoiKiConnectionString1"
            connectionString="Data Source=MINHKHOA\TIN;Initial Catalog=QuanLyBenhVienDoAnCuoiKi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DoAnQLBV.Properties.Settings>
            <setting name="strConnect" serializeAs="String">
                <value />
            </setting>
        </DoAnQLBV.Properties.Settings>
    </userSettings>
</configuration>