<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DoAnCuoiKyQLBVHQT_Final.Properties.Settings.QuanLyBenhVien_DoAnCuoiKiConnectionString"
            connectionString="Data Source=MINHKHOA\TIN;Initial Catalog=QuanLyBenhVien_DoAnCuoiKi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>